$navbar-default-bg: #fff;
$navbar-default-color: #fff;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	margin-top: 10px;
	/*border-color: #fff;*/
	/*background-color: #fff;*/
	margin-bottom: 10px;
	float: left;
	margin-right: 30px;
	font-size: 2em;
	color: 081C2E;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

body{
	padding-top: 80px;
	background-color: #fff;
}

#btns {
float:right;
}

#btn {
 	margin-left: 10px;
 	margin-right: 100px;
	float: left;
	margin-top:10px;
	border-color: #fff;
	background-color: #fff;
	color: #081C2E;
	font-weight: bold;
}

#SignUp{
	float: center;
	background-color: #B29491;
	color: white;
	font-weight: bold;
	border-color: #B29491;
}

.center {
	text-align: center;

}
#btns{
	float: center;
	margin-left: 25px;
	margin-right: 25px;
	float: center;
}

h1,h2,h3,h4 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;

}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color:#081C2E;
}

.footer{
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;
}