
$navbar-default-bg: #fff;
$navbar-default-color: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	margin-top: 10px;
	border-color: #B29491;
	background-color: #B29491;
	margin-bottom: 10px;
	float: left;
	margin-right: 30px;
	font-size: 2em;
	color: 081C2E;
	/*text-transform: uppercase;*/
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#products {
	margin-top: 20px;
	border-color: #B29491;
	background-color: #B29491;
	font-size: 1em;
	color: 081C2E;
	padding-top: 9px;
	font-weight: bold;
	margin-right: 20px;
}

#products2 {
	margin-top: -40px;
	float: right;
	border-color: #B29491;
	background-color: #B29491;
	font-size: 1em;
	color: 081C2E;
	padding-top: 9px;
	font-weight: bold;
	margin-right: 20px;
}

#logo:hover {
	color: white;
	text-decoration: none;
}

body{
	padding-top: 80px;
	background-color: #fff;
}

#btns {
float:right;
}

#btn {
 	margin-left: 10px;
 	margin-right: 100px;
	float: left;
	margin-top:10px;
	border-color: #fff;
	background-color: #fff;
	color: #081C2E;
	background-color: #FFEBE9;
}


#SignUp{
	float: center;
	background-color: #B29491;
	color: white;
	font-weight: bold;
	border-color: #B29491;
}

.center {
	text-align: center;

}
#btns{
	float: center;
	margin-left: 25px;
	margin-right: 25px;
	float: center;
}

h1,h2,h3,h4 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;

}

h2{
	font-size: 1.2em;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color:#081C2E;
}

.footer{
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.category_info {
	matgin-top: 10px;

}

.gravatar {
	border-radius: 10px;
}

.well {

}

input, textarea, select, .unitable-input{
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

input {
height: auto !important;
}






