<div class="center jumbotron">
	<h1>Witam w moim sklepie!</h1>

	<h2>
		To jest strona, na której możesz kupić wiele świetnych ubrań!
	</h2>

	<%= link_to "Zarejestruj się teraz!", new_customer_path, class: "btn btn-lg btn-success", id: "SignUp" %>

</div>