
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text", class="form-control" placeholder="szukaj produktow">
</div>
  <button type="submit" class="btn btn-default">szukaj</button>
</form>

<ol class="breadcrumb", id: "btns">
  <li><a href="#">Home</a></li>
  <li><a href="#">Woman</a></li>
  <li><a href="#">Man</a></li>
  <li><a href="#">Kid</a></li>
</ol>


<div class="center jumbotron">
	<h1>Welcome to my StoreApp</h1>

	<h2>
		This is the home page for you to buy some great clothes!
	</h2>

	<%= link_to "Sign up now!", "", class: "btn btn-lg btn-success", id: "SignUp" %>

</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

	<%= link_to "Sign up now!", "", class: "btn btn-lg btn-success", id: "btn" %>
</div>