
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text", class="form-control" placeholder="szukaj produktow">
</div>
  <button type="submit" class="btn btn-default">szukaj</button>
</form>

<ol class="breadcrumb", id: "btns">
  <li><a href="#">Home</a></li>
  <li><a href="#">Woman</a></li>
  <li><a href="#">Man</a></li>
  <li><a href="#">Kid</a></li>
</ol>


<div class="center jumbotron">
	<h1>Witam w moim sklepie!</h1>

	<h2>
		To jest strona, na której możesz kupić wiele świetnych ubrań!
	</h2>

	<%= link_to "Zarejestruj się teraz!", new_customer_path, class: "btn btn-lg btn-success", id: "SignUp" %>

</div>

	<%= link_to "Zarejestruj się teraz!", new_customer_path, class: "btn btn-lg btn-success", id: "btn" %>
</div>

